.btn-profile {
    color: #fff !important;
    background-color: #303030 !important;
    border: 1px solid #303030 !important;
    min-width: 6rem;
}

.btn-profile:hover {
    color: #fff !important;
    background-color: #636363 !important;
    border-color: #9a9a9a !important;
}

.btn-profile:focus {
    box-shadow: 0 0 0 0.25rem rgba(74, 170, 122, 0.5) !important;
}

.btn-profile:active {
    color: #fff !important;
    background-color: #9a9a9a !important;
    border-color: #121212 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-profile:disabled {
    color: #fff !important;
    background-color: #303030 !important;
    border-color: #303030 !important;
}